<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Name" formControlName="name" ng-required="1">
        </div>
        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Description" formControlName="description" ng-required="1">
        </div>
        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Client" formControlName="client" ng-required="1">
        </div>
        <div class="form-group input-group-lg">
            <input class="form-control" type="date" placeholder="Target Date" formControlName="date" ng-required="1">
        </div>
        <div class="form-group input-group-lg">
            <input class="form-control" type="number" placeholder="Priority" formControlName="priority" min="1"
                ng-required="1">
        </div>

        <div class="form-group input-group-lg">
            <select class="form-control" placeholder="Product Area" formControlName="productarea" ng-required="1">
                <option value="Assessments" ng-selected="selected">Assessments</option>
                <option value="Billing">Billing</option>
                <option value="Recruit">Recruit</option>
                <option value="Reports">Reports</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block btn-md">Submit</button>
        </div>

        <div class="alert alert-primary" role="alert" [innerHTML]="respMessage" *ngIf="respMessage !==null && respMessage !== ''">
            This is a primary alert—check it out!
          </div>
          <div class="alert alert-danger" role="alert" [innerHTML]="errorMessage" *ngIf="errorMessage !==null && errorMessage !== ''">
            This is a primary alert—check it out!
          </div>
          <div class="alert alert-warning" role="alert" [innerHTML]="warningMessage" *ngIf="warningMessage !==null && warningMessage !== ''">
            This is a primary alert—check it out!
          </div>

    </form>
</div>
